.footer-container{
    padding-top:2rem;
    padding-bottom:2rem;
    background-color: black;
}

.footer{
    color:#eee
}

.footer a{
    color: #eee;
}

.footer a:hover{
    text-decoration: none;
    color: grey;
}