.form-container{
    background-color: rgb(34, 34, 34);
    border-image: linear-gradient(90deg, rgba(35,47,68,1) 0%, rgba(45,158,176,1) 50%, rgba(35,47,68,1) 100%);
    border-image-slice: 1;
    border-bottom: 3px solid transparent;
    color: #eee;
    padding-bottom:5rem;
    padding-top:4rem;
}

.input-email .input-group{
    margin: 0 auto;
    margin-top:2rem;
    max-width: 500px;
}
.input-email h3{
    color:#17a2b8;
}
.input-group-prepend {
    background-color: #eee;
    color:#17a2b8;
    padding-left:0.5rem;
    padding-right:0.5rem;
    border-radius: 3px 0px 0px 3px;
}

.submit-btn{
    box-shadow:0px;
    transition:  box-shadow 0.5s;
}
.submit-btn:hover{
    box-shadow:inset 0px 0px 14px 2px rgba(173,245,255,1);
}